
html {
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

body{
  margin: 0px 5%;
  background-color: #B3FDD6;
  color: black;
}

#Dark_Mode {
  display: block;
  margin: auto;
  padding: 3px 5px;
  color: darkblue;
}

h1 {
  text-align: center;
  margin: 20px 0px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu {
  list-style: none;
  text-align: center;
}

.menu> li {
  display: inline-block;
  font-size: 20px;
  text-align: left;
  padding: 5px 0;
  font-size: 20px;
  margin: 20px 0;
  padding: 0 20px;
}

#wannabe {
  width: 300px;
  height: 300px;
  background-image: url(숫자/wannabe.png);
  background-size: cover;
  display: block;
  margin: auto;
  padding-top: 50px;
}

#wannabe:hover {
  cursor : pointer;
  background-image: url(숫자/money.jpg);
  background-size: cover;
}


.contents  {
  font-size: 20px;
  text-align: center;
  list-style: none;
  font-weight: bold;
  padding: 2px;

}
.contents> h2 {
  margin: 2%;
  font-family: 'Indie Flower', cursive;
  
}

.contents> li {
  padding: 8px 0px;
}

.contents > h4 {
  margin-top: 5px;
}

#heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40vh;
  width: 70%;
  margin: auto;
}

#container {
  display: flex;
  justify-content: space-evenly;
  margin: 5% auto;
  width: 50%;
  
}

#container> a > img {
  height: 80px;
  transition: margin ease-out 0.5s ;
}
#container> a > img:hover {
  height: 80px;
  cursor : pointer;
  margin-top: 5px;
}

footer {
  text-align: center;
  position : fixed;
  left:0; 
  bottom:40px; 
  height:60px; 
  width:100%; 
}

footer> div> p {
  /* border: solid black 3px; */
  font-size: 18px;
  font-weight: bold;
  padding: 3px;
}

@media (max-width : 1450px) {
  #header {
    margin-top: 20px;
  }
}

@media (max-width : 1200px) {
  .contents> h2 {
    font-size : 20px;
  }
  .contetns> li {
    font-size : 15px;
  }
  #wannabe {
    width: 250px;
    height: 250px;
    margin-top: 5%;
  }
  #heading {
    width: 100%;
  }
}

@media (max-width : 1000px) {
  h1{
    font-size: 30px;
  }

  #heading {
    width: 100%;
  }
}
@media(max-width : 680px) {
  #heading {
    display: block;
  }
  #wannabe {
    display: none;
  }

}

@media (max-width : 530px) {
  .menu_box {
    display: grid;
    grid-column: 1fr 1fr 1fr;
    align-items: flex-start;

  }
  .menu> li {
    display: grid;
    text-align: center;
    margin: 3px;
    font-size: 15px;
  }
  h1 {
    font-size: 25px;
  }
  #container {
    margin-top: 20%;
  }

  .contents>li {
    font-size: 15px;
  }

  #Dark_Mode{
    padding: 1px;
    margin-top: 4px;
    font-size: 10px;
  }
}